src
node_modules
coverage
example-app

temp
images

.github
.vscode
.idea
*.iml

.DS_Store
Thumbs.db

vitest.config.ts
tsconfig.json
sonar-project.properties
prepare_release.sh
lefthook.yml
eslint.config.mjs
.prettierrc
commitlint.config.js
.husky

*.tar.gz
*.tgz
